
@{
    ViewData["Title"] = "Aufgaben";
    Layout = null;
}




<link rel="stylesheet" href="style.css" />

<h1 id="h1">Aufgaben</h1>
<h2>Folgende Dokumente müssen geändert werden</h2>
<p>
 Dokument XYZ
</p>

