@model QMSystem.ViewModels.NewDocumentsViewModel

@{
    ViewData["Title"] = "Änderungsantrag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Titel der Änderung</p>
<input type="text" id="ChangeTitle"/>
<p>Beschreibung der Änderung</p>
<textarea rows="10" cols="80"></textarea>
<h2>Bitte Datei auswählen</h2>
<input type="file" id="myFile" size="50">
<button type="button" onclick="Abbrechen()">Abbrechen</button>
<button type="button" onclick="myFunction()">Antrag stellen</button>




<script>
    var fileName

    function myFunction() {
        fileName = document.getElementById("myFile").files[0];
        fileName = fileName.name;
        document.getElementById("myFileName").innerHTML = fileName;
    }
</script>

@using (Html.BeginForm("Create", "Home"))
{
    <div>
        @Html.LabelFor(x => x.document.DocumentName, new { id = "myFileName" })
    </div>
    <button type="submit" class="btn"> Save </button>
}


