@model QMSystem.ViewModels.NewDocumentsViewModel

@{
    ViewData["Title"] = "Änderungsantrag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

</style>

<script>
    var filePath
    function myFunction() {

    }
</script>

@using (Html.BeginForm("Create", "Home", new { enctype = "text/plain"}))
{
<div style="margin-left:10px">
    <p>Titel der Änderung</p>
    <input style="width: 750px;height:25px;" type="text" name="ChangeTitle" id="ChangeTitle" />

    <p>Beschreibung der Änderung</p>
    <textarea name="Beschreibung" id="Beschreibung" rows="10" cols="80"></textarea>

    <h2>Bitte Datei auswählen</h2>
    <input type="file" name="myFile" id="myFile" size="50"><br /><br />
</div>

    <button type="submit" class="btn" style="margin-left:10px">Antrag stellen</button>
}
