@model QMSystem.Models.User

@{
    ViewData["Title"] = "Startseite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin:10px;">Hallo @Model.UserName, viel Spaß mit Ihrem neuen QM-System</h2>

