
@{
    ViewData["Title"] = "Startseite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="row">
    <div class="column left">
        <iframe src="~/Home/Neuigkeiten" scrolling="no"></iframe>

        <iframe src="~/Home/RelevanteProzesse" scrolling="no"></iframe>

    </div>

    <div class=" column right">
        <iframe src="~/Home/Veraenderungen" scrolling="no"></iframe>

        <iframe src="~/Home/Aufgaben" scrolling="no"></iframe>
    </div>
</div>*@

