
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="main">
        <div class="column menu">
            <aside>
                <h1 id="h1">Meine Übersicht</h1>
                <a href="~/Home/RelevanteDokumente">Relevante Dokumente</a><br />
                    <a href="~/Home/Neuigkeiten">Neuigkeiten</a><br />
                    <a href="~/Home/RelevanteProzesse">Relevante Prozesse</a><br />
                    <a href="~/Home/Veraenderungen">Veraenderungen</a><br />
                    <a href="~/Home/Aufgaben">Aufgaben</a><br />
                    <a href="~/Home/ChangeRequests">Änderungsantrag stellen</a><br />
            </aside>
        </div>
        <div class="column title">
            <header>Guten Tag Miriam Mitarbeiter...</header>
            <div class="row">
                <div class="column left">
                    <iframe src="~/Home/Neuigkeiten"></iframe>

                    <iframe src="~/Home/RelevanteProzesse"></iframe>

                    <iframe src="~/Home/RelevanteDokumente"></iframe>
                </div>

                <div class=" column right">
                    <iframe src="~/Home/Veraenderungen"></iframe>

                    <iframe src="~/Home/Aufgaben"></iframe>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
