@{
    ViewData["Title"] = "Änderungsantrag";
    Layout = null;
}



<h1 id="h1">Veränderungen</h1>
<h2>Neuer Mitarbeiter, gestern</h2>
<p>
    Ab dem 01.01.2015 unerstützt uns Frau Emma meier im Vertriebsbereich
    NORD Wir möchten Frau meier ganz herzlich in unserrem Team begrüßen
</p>

