
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="~/App_Themes/StyleSheet/Style.css" rel="stylesheet" type="text/css" / >
</head>
<body>
    <div class="main">
        <div class="column menu">
            <aside>
                <h1 id="h1">Meine Übersicht</h1>
                <a href="">Prozesse und Dokumente</a><br />
                <a href="">Maßnahmen</a><br />
                <a href="">Audits</a><br />
                <a href="">Gefahrenstoffmanagement</a><br />
                <a href="">Konfiguration</a><br />
            </aside>
        </div>
        <div class="column title">
            <header>Guten Tag Miriam Mitarbeiter...</header>
            <div class="row">
                <div class="column left">
                    <iframe src="~/Views/Home/Neuigkeiten.cshtml"></iframe>

                    <iframe src="~/Views/Home/RelevanteProzesse.cshtml"></iframe>

                    <iframe src="~/Views/Home/RelevanteDokumente.cshtml"></iframe>
                </div>

                <div class=" column right">
                    <iframe src="~/Views/Home/Veraenderungen.cshtml"></iframe>

                    <iframe src="~/Views/Home/Aufgaben.cshtml"></iframe>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
