<!DOCTYPE html>
<hmtl>
    <meta charset="UTF-8">

    <head>
        <title>Guten Tag</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>


    <body>
        <header id="h1">
            <nav> Guten Tag Miriam Mitarbeiter.</nav>
        </header>
        <section id="leftsection">
            <header>
                <nav id="h">Meine Übersicht</nav>
            </header>
            <aside>

                <br>
                <button>Prozesse und Dokumente</button>

                <br>
                <button>Maßnahmen</button>
                <br>
                <button>Audits</button>
                <br>
                <button>Gefahrstoffmanagement</button>
                <br>
                <button>Konfiguration</button>
                <br>
            </aside>
        </section>

        <div class="column main">
            <div class="column content">
                <h2>Neuigkeiten</h2>
                <iframe src="neuigkeiten.html">
                    <p>
                        Your PC does not supper iFrame
                    </p>
                </iframe>
                <h2>Relevante Prozesse</h2>
                <iframe src="prozesse.html">
                </iframe>
                <h2>Relevante Dokumente</h2>
                <iframe src="dokumente.html">
                </iframe>
            </div>
            <div class="column content">
                <h2>Tätigkeiten</h2>
                <iframe src="taetigkeiten.html">

                </iframe>
                <h2>Veränderungen</h2>
                <iframe src="veraenderungen.html">
                </iframe>
            </div>
        </div>


        <footer>
            <nav>(C)</nav>
        </footer>


    </body>
</hmtl>