
@{
    Layout = null;
}

<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css" />

<body>
    <div class="main">
        <div class="column menu">
            <aside>
                <h1 id="h1">Meine Übersicht</h1>
                <a href="">Prozesse und Dokumente</a><br />
                <a href="">Maßnahmen</a><br />
                <a href="">Audits</a><br />
                <a href="">Gefahrenstoffmanagement</a><br />
                <a href="">Konfiguration</a><br />
            </aside>
        </div>
        <div class="column title">
            <header>Guten Tag Miriam Mitarbeiter...</header>
            <div class="row">
                <div class="column left">
                    <iframe src="Neuigkeiten.html"></iframe>

                    <iframe src="RelevanteProzesse.html"></iframe>

                    <iframe src="RelevanteDokumente.html"></iframe>
                </div>

                <div class=" column right">
                    <iframe src="Veraenderungen.html"></iframe>

                    <iframe src="Aufgaben.html"></iframe>
                </div>
            </div>
        </div>
    </div>
</body>
