<!DOCTYPE html>
<head>
    <title>Übersicht</title>
    <meta charset="utf-8">

</head>
<html>
    <section class="box">

        <ul>
            <li>
                <u>Hauptprozess "05 Vertrieb</u>
            </li>
            <li>
                <u>Prozess "Auftragsänderung</u>
            </li>
            <li>
                <u>"Bestellungen</u>
            </li>
            <li>
                <u>Hauptprozess "Hammerwerke"</u>
            </li>
            <li>
                <u>Prozess "Kundenanruf"</u>
            </li>
        </ul>
    </section>
</html>

