<!DOCTYPE html>
<head>
    <title>Übersicht</title>
    <meta charset="utf-8">

</head>
<html>
<body>
    <section class="box">

        <h2>Wichtige Tätigkeiten</h2>
        <ul>
            <li>Kontrollieren sie ihre
                <u>übergeilen Termine</u>
            </li>
            <li>Auftellung ihrer
                <u>Prozesse und Dokumente</u> (Durchführung, Mitwirkende, Informationen)</li>
            <li>
                <u>Verwalten</u> sie ihre Mitarbeiter die ihnen zugeordnet sind</li>
            <li>
                <u>Qualifikationsmotiv</u> der Mitarbeiter, die ihnen Disziplinarisch zugeordnet sind</li>
        </ul>

    </section>
</body>

</html>

