* {
    box-sizing:border-box;
}
body{
    margin: 0px;
}

/*Menü auf der linken Seite*/
.menuleft {
    float: left;
    padding-top:0px;
    padding-left:0px;
    background-color: #15207C;
    font-size: 12pt;
    font-weight: normal;
    font-family: Arial;
    color: white;
    width: 200px;
    height: 650px;
}

/*Überschrift im linken Menü*/
#h3 {
    text-decoration: underline;
    margin-top: 15px;
    margin-left: 20px;
    text-align: left;
}

/*Section Ausrichtung und Höhe*/
section {
    /*padd
    padding-left: 4px;
    margin: 5px;
    margin-top: 0px;
    margin-right: 10px;*/
    float: left;
    /*border: solid;*/
    /*width: 100%;*/
    height: auto;
}

/*Logo größe*/
#Logo{
    width: 210px;
    height: 40px;
    float:right;
}

/*Header Größe und Farbe*/
header {
    height: 40px;
    overflow: hidden;
    background-color: #15207C;
    font-size: 30px;
    color: white;
}
/*Footer*/
footer {
    position: page;
    left: 0;
    bottom: 0;
    width: 100%;    
    height: 20px;
    float:left;
    /*text-align:right;*/
}

/*Link Farbe weiß*/
a.linkesMenu {
    color: white;
    text-decoration: none;
    text-align: left;
}


#headerTitel {
    float:left;
    margin-left: 20px;
}

/*Vorgaben für die Main Daten*/
main {
    float: left;
    display: flex;
    align-items: stretch;
    width: 100%;
}

/*Hauptseiten Felder*/
iframe {
    padding-left: 4px;
    margin: 0px;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    float: left;
    width: 100%;
    height: 300px;
    overflow: hidden;
    
}
/*Felder in 2 Spalten*/
.row {
    display: flex;
    align-items: stretch;
    height: auto;
    width: 100%;
}
#UserNamer {
    float: left;
    text-align: left;
}
#Copyright{
    text-align:right;
}
/*.column {
    float: left;
}*/
/*.title {
    width: 90%;
}*/
.left, .right {
    padding: 8px;
    padding-right: 4px;
    width: 50%;
}
        

/*#h1 {
    text-decoration: underline;
    margin-top: 0px;
}*/

/*header {
    font-size: 14pt;
    font-weight: bold;
    font-family: Arial;
    background-color: black;
    color: white;
}*/

/*aside {
    font-size: 12pt;
    font-family: Arial;
    height: 100%;
}*/

